@import url('https://fonts.googleapis.com/css?family=Oleo+Script');

/* App */

.bodyApp {
    background-color: #948c81;
    height: 100%;
}


/* Header */

.navbar {
    height: 7vh;
    z-index: 100 !important;
    background-color: #2C3E50;
}

.nav-link {
    background-color: #f8f9fa;
    z-index: 100 !important;
}

.navbar-brand {
    color: white !important;
    font-family: 'Oleo Script', sans-serif;
}

.nav-link {
    background-color: #2C3E50;
    color: white !important;
    font-family: 'Oleo Script', sans-serif;
}


/* Contact */

.bodyContact {
    min-height: 93vh;
    background-color: #948c81;
    display: flex;
}

.contact {
    margin: auto;
}


/* Liste */

.bodyListe {
    min-height: 93vh;
    background-color: #948c81;
    display: flex;
}

.liste {
    width: 100vw;
    padding-top: 2%;
    text-align: center;
}

.linkListe {
    color: black;
    font-size: 1.5em;
}

.linkListe:hover {
    text-decoration: none;
    color: white;
}


/* Carte */

.bodyMap {
    background-color: #948c81;
    height: 93vh;
    display: flex;
}

.map {
    margin: auto;
}

.titreCarte {
    font-family: 'Oleo Script', sans-serif;
    color: white;
    text-align: center;
}

.linkHippodrome {
    text-decoration: none;
    display: flex;
}

.lien {
    flex-direction: column;
}

.apercu {
    width: 200px;
}


/* NotFound */

.bodyNotFound {
    background-color: #948c81;
    height: 93vh;
    display: flex;
}

.titreNotFound {
    margin: auto;
}


/* Hippodrome détail */

.fiche {
    background-color: #948c81;
    display: flex;
    height: 95vh;
    padding-top: 3%;
}

@media screen and (max-width: 1030px) {
    .fiche {
        flex-direction: column;
    }
}

.image {
    width: 50vw;
    padding-left: 5%;
}

.tailleImage {
    width: 50vw;
    height: 65vh;
    border-radius: 10px;
}

@media screen and (max-width: 1030px) {
    .tailleImage {
        width: 90vw;
        height: 35vh;
    }
}

.description {
    margin: auto;
    margin-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #c4c4c4;
    border-radius: 10px;
    width: 25vw;
    height: 80vh;
}

@media screen and (max-width: 1030px) {
    .description {
        margin-top: 0;
        margin-left: 5%;
        width: 85vw;
        height: 45vh;
    }
}

.titreCard {
    text-align: center;
    font-family: 'Oleo Script', sans-serif;
    color: rgb(27, 32, 37);
    font-size: 3em;
    margin-top: 10%;
    margin-bottom: 15%;
}

.long {
    font-size: 2em;
}

@media screen and (max-width: 1030px) {
    .titreCard {
        padding-left: 5%;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.liCard {
    margin-bottom: 5%;
    list-style: none;
}

@media screen and (max-width: 1030px) {
    .liCard {
        margin-bottom: 0;
    }
}

.plusDePhotos {
    display: flex;
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #948c81;
}

@media screen and (max-width: 1030px) {
    .plusDePhotos {
        flex-direction: column;
    }
}

.tailleImagePlus {
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
}

@media screen and (max-width: 1030px) {
    .tailleImagePlus {
        width: 85vw;
        height: 35vh;
        padding: 5%;
    }
}

.photoLarge {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #948c81;
}

.imageLarge {
    padding-left: 5%;
    padding-right: 5%;
}

.tailleImageLarge {
    width: 90vw;
    height: 70vh;
}