html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #948c81;
}

#root {
    width: inherit;
    height: inherit;
}

.leaflet-container {
    width: 80vw;
    height: 80vh;
    margin-bottom: 10px;
}